#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icons {
  cursor: pointer;
  min-width: 15vh;
  transition: all 0.5s;
}

.icons:hover {
  transform: scale(1.1);
}

@media screen and (orientation: portrait) {
  #contact {
    flex-direction: column;
  }
}