.contactWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 70vh;
  gap: 2vh;
  padding-top: 2vh;
}

.icons {
  cursor: pointer;
  width: 15vh;
}

@media screen and (orientation: portrait) {
  .contactWrapper {
    gap: 0;
  }
  .icons {
    width: 20vw;
  }
}