.icons {
  cursor: pointer;
  min-width: 15vh;
  transition: all 0.5s;
}

.icons:hover {
  transform: scale(1.1);
}

@media screen and (orientation: portrait) {
  .contactWrapper {
    gap: 0;
  }
  .icons {
    width: 20vw;
  }
}