@font-face {
  font-family: 'SpaceMono';
  src: url(../assets/fonts/Space_Mono/SpaceMono-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'SpaceMono';
  src: url(../assets/fonts/Space_Mono/SpaceMono-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'MavenPro';
  src: url(../assets/fonts/Maven_Pro/static/MavenPro-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: 'MavenPro';
  src: url(../assets/fonts/Maven_Pro/static/MavenPro-SemiBold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'lebora';
  src: url(../assets/fonts/demo-lebora.otf);
}

@font-face {
  font-family: 'AbrilFatface';
  src: url(../assets/fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}

@font-face {
  font-family: 'SourceSans3';
  src: url(../assets/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'rundschrift';
  src: url(../assets/fonts/VAGRundschriftBQ.otf);
}

@font-face {
  font-family: 'SF';
  src: url(../assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF);
  font-weight: normal;
}

@font-face {
  font-family: 'SF';
  src: url(../assets/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF);
  font-weight: bold;
}


body {
  margin: 0;
  background-color: #d5f1ff;
  transition: background-color 0.5s ease;
}

::-webkit-scrollbar {
  width: 1.75rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 0.5rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 10rem;
  background-color: rgba(0, 0, 0, 0.75);;
} 