.MainPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 3rem;
}

.containment {
  position: fixed;
  width: 100%;
  height: 1px;
  top: 50%;
}

.section {
  display: flex;
  min-height: 100vh;
  padding: 0;
}

.intro1 {
  font-size: 3rem;
  font-family: 'SF';
  font-weight: bold;
  color: white;
}

.intro2 {
  font-size: 6rem;
  font-family: 'SF';
  font-weight: bold;
  color: white;
}

.intro3 {
  font-size: 3rem;
  font-family: 'SF';
  font-weight: bold;
  padding-left: 0 !important;
  color: white;
}

#education {
  margin: 25rem 0 25rem 0;
  align-self: center;
  width: 100%;
}

.home {
  padding-top: 15rem;
  flex-direction: column;
  width: 100%;
}

.home * {
  margin: 0;
  opacity: 0.9;
  padding: 0.5rem;
}

.vertical-timeline-element-date {
  font-family: 'SF';
  font-weight: bold !important;
  font-size: 1.2rem;
}

.timeline {
  font-family: 'SF';
  margin: 0;
}

.timeline.title {
  font-size: 2rem;
  font-weight: bold;
}

.timeline.description {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 10rem;
}

@media screen and (orientation: portrait) {
  .timeline.title  {
    font-size: 1rem;
  }

  .timeline.location {
    font-size: 0.6rem;
  }

  .timeline.description {
    font-size: 0.8rem;
  }

  .intro1 {
    font-size: 1rem;
  }
  
  .intro2 {
    font-size: 1.4rem;
  }
  
  .intro3 {
    font-size: 1rem;
  }
}