.aboutMeWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20rem;
}

.aboutMeRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10rem;
}

.profilePicture {
  max-width: 22rem;
  max-height: 22rem;
  border-radius: 8%;
  padding: 0.5rem;
}

.profileIntro {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  gap: 2rem;
}

.profileIntro h1 {
  font-family: 'SF';
  font-size: 5rem;
  font-weight: bold; 
  opacity: 1;
}

.profileIntro p {
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

@media screen and (orientation: portrait) {
  .profileIntro h1 {
    font-size: 1.2rem;
  }
  
  .profileIntro p {
    font-size: 0.8rem;
  }

  .aboutMeRow{
    gap: 2rem;
    flex-direction: column-reverse;
  }

  .profileIntro {
    gap: 1rem;
  }
}
