.aboutMeWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}

.aboutMeRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.profilePicture {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 10%;
  padding: 0.5rem;
  border: 0.2rem dashed rgba(0, 0, 0, 0.2);
}

.profileIntro {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  gap: 2rem;
}

.profileIntro h1 {
  font-family: AbrilFatface;
  font-size: 2.5rem;
  opacity: 0.8;
}

.profileIntro p {
  font-size: 1.2rem;
  opacity: 0.6;
}

@media screen and (orientation: portrait) {
  .profileIntro h1 {
    font-size: 1.2rem;
  }
  
  .profileIntro p {
    font-size: 0.8rem;
  }

  .aboutMeRow{
    gap: 2rem;
    flex-direction: column-reverse;
  }

  .profileIntro {
    gap: 1rem;
  }
}
