.projectWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

.project {
  max-width: 80vw;
  max-height: 40vh;
  box-shadow: 0.1vh 0.1vh 1vh -0.5vh #4E4351;
  border-radius: 1vh;
  transition: all 0.5s;
}

.project:hover {
  max-width: 81vw;
  max-height: 41vh;
  box-shadow: 1vh 1vh 3vh 0.2vh #8e8e8e;
}