#projects {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.projectWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.left {
  flex-direction: row-reverse;
}

.right {
  flex-direction: row;
}

.project {
  position: relative;
  max-height: 35rem;
  transition: all 0.5s ease-out;
  max-width: 40%;
}

.img {
  position: absolute;
  top: 5%;
  left: -20rem;
  width: 90%;
  height: 90%;
  transition: all 0.5s;
  overflow: hidden;
  opacity: 0;
  border-radius: 1rem;
}

.left .img {
  left: 20rem;
}

.pButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: transparent;
  padding: 0.5rem;
  margin: 0;
  width: 5rem;
  height: 2rem;
  border-radius: 2rem;
  cursor: pointer;
  border: solid 0.1rem rgba(0, 0, 0, 1);
  transition: all 1s;
  overflow: hidden;
}

.pButton p {
  padding: 0;
  color: black;
  min-width: 20rem;
}

.textbox {
  display: flex;
  flex-direction: column;
  padding: 3vh;
  border-radius: 3vh;
  transition: all 0.5s;
  max-width: 40%;
  gap: 2rem;
}

.textbox h1 {
  font-size: 2rem;
}
.textbox p {
  padding-top: 0.5rem;
  font-size: 1.4rem;
}

@media screen and (orientation: portrait) {
  .project {
    max-width: 100%;
  }

  .textbox {
    max-width: 100%;
  }
}